<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>myOwnRPG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00F4A8411CE7C2B900394D55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00F4A8551CE7C2C400394D55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00F4A8601CE7C2C500394D55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
